
node_modules/
dist/
build/
# *.js # Keeping this commented out as esbuild outputs a single bundle.js in dist
# *.d.ts # Keeping this commented out as tsc for type-check might still output them next to source
.env
.DS_Store
